[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
numpy = "2.2.0"
pandas = "2.2.3"
matplotlib = "3.10.0"
reportlab = "4.2.5"
img2unicode = {extras = ["n2"], version = "*"}
faker = "*"
rich = "*"
python-dateutil = "*"
pick = "*"
art = "6.4"

[scripts]
seed = "python src/_1_seeds.py"
start = "python src/_2_cli.py"

[dev-packages]

[requires]
python_version = "3.11"
python_full_version = "3.11.9"
